picture {
    width: 4rem;
    text-align: center;
    display: inline-block;
}
.list-item {
    margin: 2rem 0;
}
.has-svg img {
    height: 2.5rem;
    max-width: 3rem;
    vertical-align: top;
}
.has-svg span {
    padding-left: 1.5rem;
    font-size: 2rem;
}